//bootstrap
@import "~bootstrap/scss/bootstrap.scss";
// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Raleway);

$primary: #00faff;
$bgColor: #2a2a2a;
$txtColor: rgb(177, 177, 177);
$HeaderFooterColor: #181818;

body {
  background-color: $bgColor;
  color: $txtColor;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-content {
  background-color: $bgColor;
}
.modal-content h5 {
  font-size: 2rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: Raleway, sans-serif;
  margin-bottom: 1rem !important;
  color: $primary;
}
h6 svg,
h5 svg,
h4 svg,
h3 svg,
h2 svg,
h1 svg {
  margin: 0 1rem;
}

header#TopBar {
  background: $HeaderFooterColor;
  width: 100%;
  border-bottom: $primary solid 2px;
}

header#TopBar ~ .spacer {
  height: 100px;
}

header#TopBar h1 {
  text-shadow: $primary 0px 0px 10px;
  font-weight: bold;
}

footer {
  background: $HeaderFooterColor;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.App {
  position: relative;
  min-height: 100vh;
}

section#MainSelection {
  min-height: 100vh;
}

.SideBar .logo svg {
  width: 100px;
}

:root {
  --bs-body-bg: #292929;
  --bs-body-color: #fff;
}

.btn-primary {
  background: linear-gradient(45deg, $primary, #0080ae);
}
.btn-primary:hover {
  color: white;
  background: linear-gradient(45deg, #0080ae, deepskyblue);
}
.btn-close {
  filter: invert(1);
}

.btn {
  font-family: "Raleway", sans-serif;
  color: rgb(206, 206, 206);
}

.card {
  background-color: #424242;
}

.movie-card {
  width: 342px;
}
.BlurWrapper {
  transition: filter 0.5s;
}
.Apply-Blur {
  filter: blur(5px);
}
