// BootStrap

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Raleway);

$primary: deepskyblue;
$primary: #00faff;

body {
  background-color: #1d1d1d;
  color: rgb(177, 177, 177);
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: Raleway, sans-serif;
  margin-bottom: 1rem !important;
  color: $primary;
}

header#TopBar {
  background: #181818;
  position: fixed;
  z-index: 1;
  width: 100%;
}
header#TopBar ~ .spacer {
  height: 100px;
}

header#TopBar h1 {
  text-shadow: $primary 0px 0px 10px;
  font-weight: bold;
}

section#MainSelection {
  min-height: 100vh;
}

.SideBar .logo svg {
  width: 100px;
}

@import "~bootstrap/scss/bootstrap.scss";

:root {
  --bs-body-bg: #292929;
  --bs-body-color: #fff;
}

.btn-primary {
  background: linear-gradient(45deg, $primary, #0080ae);
}
.btn-primary:hover {
  color: white;
  background: linear-gradient(45deg, #0080ae, deepskyblue);
}

.btn {
  font-family: "Raleway", sans-serif;
  color: rgb(206, 206, 206);
}

.card {
  background-color: #424242;
}

.movie-card {
  width: 342px;
}
